
                    <!DOCTYPE html>
                    <head>
                    <title>Ali (Under 12) 100m - Back</title>
                    </head>
                    <body>
                    <h3>Ali (Under 12) 100m - Back</h3>
                    
                        <svg width="400" height="30">
                        <rect width="350.0" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 1:42.87<br>
                        
                        <svg width="400" height="30">
                        <rect width="338.36" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 1:39.45<br>
                        
                        <svg width="400" height="30">
                        <rect width="337.17" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 1:39.10<br>
                        
                        <svg width="400" height="30">
                        <rect width="328.46" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 1:36.54<br>
                        <p>Average time 1:39.49</p>
                    </body>
                    </html>
                    