
                    <!DOCTYPE html>
                    <head>
                    <title>Bill (Under 18) 200m - Back</title>
                    </head>
                    <body>
                    <h3>Bill (Under 18) 200m - Back</h3>
                    
                        <svg width="400" height="30">
                        <rect width="350.0" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 2:29.40<br>
                        
                        <svg width="400" height="30">
                        <rect width="337.65" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 2:24.13<br>
                        
                        <svg width="400" height="30">
                        <rect width="331.47" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 2:21.49<br>
                        
                        <svg width="400" height="30">
                        <rect width="349.2" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 2:29.06<br>
                        <p>Average time 2:26.02</p>
                    <p> <h4>M: 1:51.92
                            (1:45.63)
                        </h4>
                        <h4> W: 2:03.14
                            (1:58.94)
                        </h4>
                    </p>
                    </body>
                    </html>
                    
