
                    <!DOCTYPE html>
                    <head>
                    <title>Darius (Under 13) 200m - IM</title>
                    </head>
                    <body>
                    <h3>Darius (Under 13) 200m - IM</h3>
                    
                        <svg width="400" height="30">
                        <rect width="327.53" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 2:52.44<br>
                        
                        <svg width="400" height="30">
                        <rect width="350.0" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 3:04.27<br>
                        
                        <svg width="400" height="30">
                        <rect width="344.72" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 3:01.49<br>
                        
                        <svg width="400" height="30">
                        <rect width="350.0" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 3:04.27<br>
                        
                        <svg width="400" height="30">
                        <rect width="349.18" height="30" style="fill:rgb(0,0,255);"/>
                        </svg> 3:03.84<br>
                        <p>Average time 3:01.26</p>
                    </body>
                    </html>
                    